@charset "UTF-8";

/* ベースのスタイル
------------------------------------------ */

body {
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 700;
  line-height: 1.75;
  color: #000;
}

@media (min-width: 768px) {
  body {
    font-size: 1.125rem;
  }
}

a {
  color: #fff;
  text-decoration: none;
}

@media (min-width: 768px) {
a {
  color: #000;
  text-decoration: none;
  }
}

a,
a:hover,
a i {
  transition: all 0.3s;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
  border-radius: 0.5rem;
}

ul {
  list-style: none;
}

/* 部品
------------------------------------------ */

/* ボタン */
.button {
  position: relative;
  display: block;
  height: 3.75rem;
  line-height: 1.7;
  color: #000;
  text-align: center;
  letter-spacing: 0.05rem;
  border-radius: 3rem;
}

/* ブルー色ボタン */
.button-blue {
    max-width: 22rem;
    height: 4rem;
    padding: 1rem;
    margin: auto;
    font-size: 1.2rem;
    letter-spacing: -0.1rem;
    background-color: #fff;
}

@media (min-width: 768px) {
.button-blue {
  width: 17.625rem;
  padding: .8rem 1rem;
  margin-right: 1.2rem;
  font-size: 1.2rem;
  background-color: #005bac;
  border-radius: 5rem;
  }
}

/* ヘッダー
------------------------------------------ */
.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 6.25rem;
  margin: 0 auto;
  background-color: #fff;
}

.header-inner {
  display: flex;
  justify-content: space-between;
  height: 4.375rem;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .header-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    height: 6.25rem;
    margin: 0 auto;
  }
}

/* ロゴ */
.header-logo {
  display: flex;
  align-items: center;
  padding-left: 1rem;
  line-height: 0;
}

.header-logo img {
  border-radius: 0;
}

/* ハンバーガー */
@media (max-width: 768px) {
.hamburger {
  width: 70px;
  background-color: #005bac;
  }
}

/* ハンバーガーボタン */
.hamburger-button {
  position: fixed;
  top: 1.4rem;
  right: 1.3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.hamburger-button-bar {
  width: 1.875rem;
  height: 0.25rem;
  background-color: #fff;
}

.hamburger-button-bar:first-child {
  margin-bottom: 0.4rem;
}

.hamburger-button-bar:nth-child(2) {
  margin-bottom: 0.4rem;
}

@media (min-width: 768px) {
  .hamburger-button {
    display: none;
  }
}

@media (min-width: 768px) {
.header-logo {
    width: 17.6rem;
    padding: 0 1.2rem;
  }
}

@media (min-width: 768px) {
  .header-logo img {
    width: 16rem;
    border-radius: 0;
  }
}



/* ハンバーガーメニュー、ヘッダーナビ
------------------------------------------ */
.hamburger-menu .flex {
  flex-direction: column;
}

/* PCメニュー */
@media (max-width: 767px) {
  .hamburger-menu {
    position: fixed;
    top: 4.3rem;
    left: 0%;
    visibility: hidden;
    width: 100%;
    height: 20.625rem;
    color: #fff;
    background-color: #005bac;
    opacity: 0;
    transition: all 0.6s;
  }
}

/* スライドイン後の位置の指定 */
.hamburger-menu-active {
  visibility: visible;
  opacity: 1;
}

/* アクティブ状態 */
.hamburger-menu-active {
  transform: translateX(0);
}

/* ナビゲーション */

/* .hamburger-nav-second .button-pink {
  margin-top: 1.2rem;
} */

@media (max-width: 767px) {
  .hamburger-menu-list-group {
    display: table;
    width: 100%;
    margin-bottom: 2rem;
    font-size: 1.1rem;
    font-weight: normal;
  }
}

@media (max-width: 767px) {
  .hamburger-menu-list-group a {
    display: flex;
    align-items: center;
    width: 94%;
    padding: 1.1rem 0;
    margin: auto;
    line-height: 1;
    border-bottom: solid #fff 1px;
  }
}

@media (max-width: 767px) {
  .hamburger-menu-list-group i {
  font-size: 1.8rem;
  }
}

@media (max-width: 767px) {
  .hamburger-menu-bottom {
    ;

  }
}

@media (min-width: 768px) {
  .header-nav {
    display: flex;
    align-items: center;
  }
}

@media (min-width: 768px) {
.hamburger-menu .flex {
    display: flex;
    flex-direction: row;
    column-gap: 2rem;
    width: 100%;
    padding-right: 3.1rem;
    font-size: 1.3rem;
    letter-spacing: 0.05rem;
    white-space: nowrap;
  }
}

@media (min-width: 768px) {
.hamburger-menu .flex i {
    display: none;
  }
}